{require_otp_vsn, "20.*"}.

{plugins, [
        rebar_covertool
    ]}.

{deps, [
        %{rebar, {git, "git://github.com/erlang/rebar3.git", {tag, "3.5.0"}}}
    ]}.

{erl_opts, [
    warn_deprecated_function,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_unused_function,
    warn_unused_import,
    warn_unused_record,
    warn_unused_vars,

    nowarnings_as_errors
    %warnings_as_errors
]}.
{erl_first_files, [
]}.

{edoc_opts,[{todo,true}]}.

{eunit_opts, [
    verbose,
    %nowarn_missing_spec,
    nowarnings_as_errors,
    {report,{eunit_surefire,[{dir,"."}]}}
]}.
{eunit_compile_opts, [
    nowarn_missing_spec
]}.

{cover_export_enabled, true}.
{cover_enabled, true}.
{cover_print_enable, true}.

{covertool_eunit, {"_build/test/cover/eunit.coverdata", "eunit.coverage.xml"}}.
{covertool_prefix_len, 0}.
