
{require_min_otp_vsn, "18"}.

{erl_first_files, []}.

{erl_opts, [
    debug_info,
    warn_deprecated_function,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_unused_function,
    warn_unused_import,
    warn_unused_record,
    warn_unused_vars
]}.
{edoc_opts,[{todo,true}]}.

{eunit_opts, [
    verbose,
    {report,{eunit_surefire,[{dir,"."}]}}
]}.

{xref_warnings, false}.
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, exports_not_used,
               deprecated_function_calls, deprecated_functions]}.

{dialyzer,
	 [
	  %% Store PLT locally inside the project in .rebar (Default)
	  %% {plt_location, local},
	  %% Store PLT in custom directory
	  %% {plt_location, "custom_dir"},
	  {warnings, [unmatched_returns, error_handling, unknown]}
	 ]}.

{deps                   , [ { coveralls
                            , ".*"
                            , {git, "git://github.com/markusn/coveralls-erl.git", "master"}
                            }
                          ]}.
{plugin_dir             , "deps/coveralls/src"}.
{cover_enabled          , true}.
{cover_export_enabled   , true}.
{cover_print_enable     , true}.
{coveralls_coverdata    , ".eunit/cover.coverdata"}.
{coveralls_service_name , "travis-ci"}.
